* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  flex-flow: wrap;
  min-height: 100vh;
} */

body {
  background: #000;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
